In [1]:
!pip install --extra-index-url https://test.pypi.org/simple/ mfinancials

Looking in indexes: https://pypi.org/simple, https://test.pypi.org/simple/
Collecting mfinancials
  Downloading https://test-files.pythonhosted.org/packages/b6/b5/07510a056f9da510bde6a99ed7aea1bcf196269100c3737cb0e5d90eb0f9/mfinancials-0.0.4-py3-none-any.whl (9.1 kB)
Collecting yfinance>=0.1.54
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.7/dist-packages (from mfinancials) (1.19.5)
Requirement already satisfied: pandas>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from mfinancials) (1.1.5)
Collecting requests>=2.24.0
  Downloading requests-2.26.0-py2.py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 593 kB/s
Collecting beautifulsoup4>=4.9.1
  Downloading https://test-files.pythonhosted.org/packages/69/bf/f0f194d3379d3f3347478bd267f754fc68c11cbf2fe302a6ab69447b1417/beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 3.0 MB/s
Collecting lxml>=4.5.2
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 10.9 MB/s
Collecting soupsieve>1.2
  Downloading soupsieve-2.2.1-py3-none-any.whl (33 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.2->mfinancials) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.2->mfinancials) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1.2->mfinancials) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->mfinancials) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->mfinancials) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->mfinancials) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->mfinancials) (2.0.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance>=0.1.54->mfinancials) (0.0.9)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=ac4ef59b942526118d6bd612e9bc6a264325ca9ff02c4ec50d4e6d7efe6d2424
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: soupsieve, requests, lxml, yfinance, beautifulsoup4, mfinancials
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.26.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed beautifulsoup4-4.10.0 lxml-4.6.3 mfinancials-0.0.4 requests-2.26.0 soupsieve-2.2.1 yfinance-0.1.63

In [2]:
import mfinancials as mf

In [3]:
aapl = mf.Ticker("aapl")

In [4]:
aapl.financials

Financials USD Revenue USD Mil  ... Working Capital USD Mil
2011-09                108,249  ...                  17,018
2012-09                156,508  ...                  19,111
2013-09                170,910  ...                  29,628
2014-09                182,795  ...                   5,083
2015-09                233,715  ...                   8,768
2016-09                215,639  ...                  27,863
2017-09                229,234  ...                  27,831
2018-09                265,595  ...                  14,473
2019-09                260,174  ...                  57,101
2020-09                274,515  ...                  38,321
TTM                    347,155  ...                     NaN

[11 rows x 15 columns]

In [5]:
aapl.keyRatios

Margins % of Sales Revenue   COGS  ... Fixed Assets Turnover Asset Turnover
2011-09             100.00  59.52  ...                 17.26           1.13
2012-09             100.00  56.13  ...                 13.48           1.07
2013-09             100.00  62.38  ...                 10.67           0.89
2014-09             100.00  61.41  ...                  9.82           0.83
2015-09             100.00  59.94  ...                 10.85           0.89
2016-09             100.00  60.92  ...                  8.71           0.70
2017-09             100.00  61.53  ...                  7.54           0.66
2018-09             100.00  61.66  ...                  7.07           0.72
2019-09             100.00  62.18  ...                  6.61           0.74
2020-09             100.00  61.77  ...                  7.40           0.83
TTM                 100.00  58.99  ...                  9.34           1.07

[11 rows x 80 columns]

In [6]:
aapl.estimates

                                 High    Low  ...  90 Days Ago  Number of Estimates
Year    Estimates                             ...
09/2021 Earnings Per Share USD   5.72   4.58  ...         4.87                    7
        Growth %                74.40  39.60  ...        48.50                    7
09/2022 Earnings Per Share USD   6.14   5.18  ...         5.24                    7
        Growth %                 7.30  13.10  ...         7.60                    7

[4 rows x 8 columns]

In [8]:
# display like morningstar website

In [7]:
aapl.financials.T
aapl.keyRatios.T
aapl.estimates.T

Year                               09/2021  ...  09/2022
Estimates           Earnings Per Share USD  ... Growth %
High                                  5.72  ...      7.3
Low                                   4.58  ...     13.1
Mean                                  5.13  ...      9.6
Median                                5.09  ...      9.4
30 Days Ago                           5.24  ...      7.3
60 Days Ago                           4.84  ...      9.9
90 Days Ago                           4.87  ...      7.6
Number of Estimates                      7  ...        7

[8 rows x 4 columns]

In [9]:
# get urls to view data on morningstar website
aapl.url_estimates
aapl.url_financials

'http://financials.morningstar.com/ratios/r.html?t=aapl'

In [13]:
#Non-US stocks
# LVMH Moët Hennessy – Louis Vuitton SE
lvmh = mf.Ticker("mc", mic="XPAR")

In [12]:
lvmh.financials

Financials EUR Revenue EUR Mil  ... Working Capital EUR Mil
2011-12                 23,659  ...                   3,673
2012-12                 28,103  ...                   4,791
2013-12                 29,149  ...                   4,382
2014-12                 30,638  ...                   5,935
2015-12                 35,664  ...                   6,251
2016-12                 37,600  ...                   6,588
2017-12                 42,636  ...                   6,079
2018-12                 46,826  ...                   6,718
2019-12                 53,670  ...                   3,887
2020-12                 44,650  ...                  14,655
TTM                     54,922  ...                     NaN

[11 rows x 15 columns]

In [14]:
# Samsung Electronics Co., Ltd.
smsng = mf.Ticker("005930", country="South Korea")

In [15]:
smsng.countries

['USA',
 'Germany',
 'Hong Kong',
 'Japan',
 'France',
 'Canada',
 'United Kingdom',
 'Switzerland',
 'Australia',
 'South Korea',
 'The Netherlands',
 'Spain',
 'Russia',
 'Italy',
 'Belgium',
 'Mexiko',
 'Sweden',
 'Norway',
 'Finland',
 'Denmark',
 'Austria']

In [16]:
# Alibaba Group Holding Limited
baba = mf.Ticker("baba")
baba.financials
baba.estimates
baba.estimatesConv

Converting estimates from USD to CNY
[*********************100%***********************]  1 of 1 completed

                                      High  ...  Number of Estimates
Year    Estimates                           ...
03/2022 Earnings Per Share CNY  483.945728  ...                    8
        Growth %                 36.900000  ...                    8
03/2023 Earnings Per Share CNY  578.319020  ...                    7
        Growth %                 19.500000  ...                    7

[4 rows x 8 columns]

In [18]:
# access currencies
baba.currency_estimates

'USD'

In [19]:
baba.currency_financials

'CNY'